.tabs-editor-tools
{
	padding-left:5px;
}

.tabs-editor
{
	width: 830px;
	margin: 0 auto;
	background-color:#fff;
}

.button.mini {
    /* font-size: 11px;*/
	font-size: 9px;
    /* margin: 5px 5px 5px 0;*/
    margin:0px;
    padding: 5px;
	vertical-align:middle;
}

.button.text {
    /* font-size: 11px;*/
	font-size: 12px;
    margin: 5px 5px 5px 0;
    padding: 5px;
	vertical-align:middle;
}


.button {
    background: none repeat scroll 0 0 #EE7E2A;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    margin: 8px 10px 8px 0;
    text-shadow: none !important;
	text-decoration: none;
	color: #fff;
}

.buttoncheck:hover,
.button:hover {
    background: none repeat scroll 0 0 #ffaa6b;
}

.button.mini.checked,
.buttoncheck.checked
{
	background-color:#ffcaa3;
}


body
{
	background:none repeat scroll 0 0 #EFEDE9;
	font-family: 'Open Sans','HelveticaNeue','Helvetica Neue',Helvetica,Arial,"Lucida Grande",sans-serif;
	color: #6A6359;
}

.tabblock
{
	table-layout: fixed;
	font-size:10px;
	color:#000;
	outline: none;
	border-left: 4px solid #fff;
}

.tabblock:focus
{
	/*.tabsection.active #tabblock */
	padding:10px;
	border-left: 4px solid #ffaa6b;
}

table { 
  border-spacing:0;
  border-collapse:collapse;
}


.tabblock td
{
	border:none; /*1px solid #aaa;*/
	cursor:pointer;
	text-align:center;
	background: url('../images/cell.gif') repeat-x center center;
	white-space: nowrap;
}

.barline_simple
{
	background: url('../images/barline_simple_black.png') repeat-x center center;
	height:12px;
}
/*
.barline_double
{
	background: url('../images/barline_double.png') repeat-x center center;
	height:12px;
}

.barline_repeat_left0
{
	background: url('../images/barline_double.png') repeat-x center center;
	height:12px;
}
.barline_repeat_left1
{
	background: url('../images/barline_double.png') repeat-x center center;
	height:12px;
}

.barline_repeat_right0
{
	background: url('../images/barline_double.png') repeat-x center center;
	height:12px;
}
.barline_repeat_right1
{
	background: url('../images/barline_double.png') repeat-x center center;
	height:12px;
}
*/

.tabblock td.lfinger1
{
	background: url('../images/cell.gif') repeat-x center center, 
				url('../images/1_black.png') no-repeat top right;	
}
.tabblock td.lfinger2
{
	background: url('../images/cell.gif') repeat-x center center, 
				url('../images/2_black.png') no-repeat top right;	
}
.tabblock td.lfinger3
{
	background: url('../images/cell.gif') repeat-x center center, 
				url('../images/3_black.png') no-repeat top right;	
}
.tabblock td.lfinger4
{
	background: url('../images/cell.gif') repeat-x center center, 
				url('../images/4_black.png') no-repeat top right;	
}

.tabblock td.string-note
{
	background: none;
}

.tabblock td.active_cell.active_column
{
	background-color:#ee0;
}

.tabblock td.active_column
{
	background-color:#ff9;
}


#tabblock {
	background-color:#fff;
	padding:10px;
}	

.tabsection.hover
{
/*	background-color:#ffe;*/
}

/*
.tabsection.active
{
	background-color:#ff9;
}
*/


textarea.tabtext
{
	font-family:Courier new;
	width:100%;	
}

.menu-tabs-text
{
	border:2px solid #f99;
	padding:5px;
}


.tabsection.text
{
	padding:10px;
/*	padding-bottom:33px;*/
	padding-bottom:34px;
}	


.tabsection
{
	padding:5px;
	padding-bottom:35px;
}

.tabsection.hover
{
	padding-bottom:0px;
}


.button.modifier.mini,
.button.colmodifier.mini
{
	padding:2px;
}

.tabblock tr.extra td
{
	background: none;
	height:14px;
}


.tabblock tr.extra td.modifier_golpe {
	background-image:url('../images/golpe_black.png');
}

.tabblock tr.extra td.modifier_accent {
	background-image:url('../images/accent_black.png');
}

.tabblock tr.extra td.modifier_down_arrow {
	background-image:url('../images/down_arrow_black.png');
}

.tabblock tr.extra td.modifier_up_arrow {
	background-image:url('../images/up_arrow_black.png');
}

.tabblock tr.extra td.modifier_rasgueo {
	background-image:url('../images/rasgueo_black.png');
}

.tabblock tr.extra td.modifier_alzapua {
	background-image:url('../images/alzapua_black.png');
}

.tabblock tr.extra td.modifier_rasgueo3 {
	background-image:url('../images/rasgueo3_black.png');
}

.tabblock tr.extra td.modifier_rasgueo4 {
	background-image:url('../images/rasgueo4_black.png');
}



.left
{
	float:left;
}

.buttoncheck
{
	float:left;
	display:inline-block;
	font-size: 9px;
    /* margin: 0px;*/
    margin:0px 0px 0px 1px;
    padding: 2px;
	background: none repeat scroll 0 0 #EE7E2A;
}

.checkgroup
{
	display:inline-block;
	margin: 5px 5px 5px 0;
	vertical-align:middle;
}

.ui-dialog
{
	font-size:12px;
}


section
{
	display: block;
	position: relative;
	background: #fff;
	/*padding: 80px 50px;*/
	padding: 30px 15px;
	width: auto;
	max-width: 860px;
	margin: 0 auto;
	/*margin-bottom: 40px;*/
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 3px #f6f4ee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section#pretty
{
	padding: 60px 30px;
}

.pretty-tab div
{
	background-color:#fff;
	font-size:12px;
	line-height:16px;
	/*margin-bottom:15px;*/
	margin:0px;
	padding-bottom:15px;
	/*border:1px solid #aaa;*/
}

.pretty-text-block
{
	padding: 0px 10px 0px 10px;
}

.pretty-text-block pre
{
	padding:0px;
	margin:0px;
	outline:none;
	color:#333;
}

.pretty-tab
{
	background-color:#fff;
	width:800px;
}

#ascii-text
{
	font-family:courier new;
	width:100%;
	font-size:12px;
	border:none;
	outline: none;
}

#ktg 
{
	 font-family:courier new;
	 width:100%;
	 font-size:13px;
	 border:none;
	 outline:none;
}







pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.json-string { color: green; }
.json-number { color: darkorange; }
.json-boolean { color: blue; }
.json-null { color: magenta; }
.json-key { color: red; }








































.tabs {
    width: auto;
    /*max-width: 860px;*/
/*    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    */
    /*padding: 0 40px;*/
    position: relative;
    text-align:right;
  /*  -webkit-box-sizing: border-box;     /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box;     /* Firefox, other Gecko */
            box-sizing: border-box;     /* Opera/IE 8+ */
*/
}



/* --------------------------------------------------------------
Footer
-------------------------------------------------------------- */
footer {
    width: auto;
    max-width: 860px;
    margin: 0 auto;
    /*margin-bottom: 60px;*/
    /*padding: 0 80px;*/
    padding: 0 40px;
    position: relative;
    -webkit-box-sizing: border-box;     /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box;     /* Firefox, other Gecko */
            box-sizing: border-box;     /* Opera/IE 8+ */
}


#footer-title {
	margin: 10px 5px;
	color: #666;
	font-style: bold;
	display: block;
	font-size: 0.8em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	text-align:right;
	font-family: 'Open Sans', sans-serif;
}

#footer-title a {
	text-decoration: none; 
	border-bottom:1px dotted;
	color: #EE7E2A;
}


/* --------------------------------------------------------------
Header
-------------------------------------------------------------- */
header {
    width: auto;
    max-width: 860px;
    margin: 0 auto;
    margin-top: 40px;
    /*margin-bottom: 60px;*/
    /*padding: 0 80px;*/
    padding: 0 40px;
    position: relative;
    -webkit-box-sizing: border-box;     /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box;     /* Firefox, other Gecko */
            box-sizing: border-box;     /* Opera/IE 8+ */
}




.tab.active {
	background-color: #EE7E2A;
}

.tab {
	font-size: 15px;
	margin: 0px;
	padding: 10px 20px 10px 20px;
	vertical-align: middle;
	background: none repeat scroll 0 0 rgb(255, 187, 137);
	border: medium none;
	cursor: pointer;
	display: inline-block;
	margin-left: 8px;
	text-shadow: none !important;
	text-decoration: none;
	color: #fff;
}

.tab:hover {
    background: none repeat scroll 0 0 #ffaa6b;
}





h1, h2, h3, h4, h5, h6 {
	text-align:center;
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #000;
	position: relative;
	/*margin-bottom: 14px;*/
	margin: 0px 0px 15px 0px;
	line-height: 1;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 14px;
	color:#333;
}


.nodisplay{
	display:none;
}

#songdata
{
	font-size:12px;
	width:260px;
	text-align:right;
}

.tabsection.youtube
{
	font-size:12px;
}


#songdata input,
.tabsection.youtube input,
{
	border: 1px solid #eee;
	padding:2px;
}




.title {
	margin: 10px 5px;
	color: #666;
	font-size: 1.2em;
	font-style: bold;
}

h3 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.submenu {
	margin-bottom:15px;
}


body.viewer section#pretty
{
	padding: 0px;
	margin: 0px;
}

body.viewer
{
	padding: 0px;
	margin: 0px;
	background-color:#fff;
}

body.viewer section
{
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-sizing: none;
	-moz-box-sizing: none;
	box-sizing: none;
}


.youtube_id_error
{
	font-weight:bold;
	color:#f00;
}

.youtube_title {
	color:#EE7E2A
}